.container .row .header {
  background: #f2f2f2;
  padding: 20px; }

.container .row main {
  background: #e3e3e3;
  padding: 20px; }

.container .row aside {
  background: #d3d3d3;
  padding: 20px; }

.container .row .columna {
  background: #c3c3c3;
  padding: 20px; }

.container .row .footer {
  background: #a1a1a1;
  padding: 20px; }

.testing {
  width: 71.42857%; }

html {
  background: white; }

.local-scope::before {
  content: "local value"; }

.fuck-jesus--rodrigo::before {
  content: "mixin value"; }

p {
  z-index: 5000; }

.btn-ok, .btn-cancel {
  background: #ff1;
  text-align: center;
  border-radius: 3px; }

.btn-ok {
  font-size: 1em; }

.btn-cancel {
  font-size: 1.5em; }
